<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of students</title>
</head>
<body>

<h1>List of students</h1>

<a th:href="@{/}">Back</a>
<br><br>
<a th:href="@{/StudentController/formAddStudent}">Add new student</a>

<table border="1">
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Phonenumber</th>
    <th>Action</th>
    <th>Action</th>
    <th>Action</th>
  </tr>

  <tr th:each="student : ${students}">
    <td th:text="${student.id}"></td>
    <td th:text="${student.FirstName}"></td>
    <td th:text="${student.LastName}"></td>
    <td th:text="${student.Phonenumber}"></td>
    <td>
      <a th:href="@{'/StudentController/takeBookForm/' + ${student.id}}">
        Get a book for him
      </a>
    </td>
    <td>
      <a th:href="@{'/StudentController/TheListOfBooksHeTook/' + ${student.id}}">Books</a>
    </td>
    <td>
      <a th:href="@{'/StudentController/delete/' + ${student.id}}">Delete</a>
    </td>

  </tr>

</table>

</body>
</html>