  <!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>List of students</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <span class="navbar-brand mb-0 h1">Manage Students</span>
    </div>
  </nav>

  <div class="container mt-5">
    <h1 class="text-center mb-4">List of students</h1>

    <div class="text-center mb-4">
      <a th:href="@{/}"
         class="btn btn-secondary btn-sm">
        Back
      </a>
    </div>

    <div class="text-center mb-4">
      <a th:href="@{/StudentController/formAddStudent}"
         class="btn btn-primary btn-sm">
        Add new student
      </a>
    </div>

    <table class="table table-dark table-striped">
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phonenumber</th>
        <th>Action</th>
        <th>Action</th>
        <th>Action</th>
      </tr>

      <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.FirstName}"></td>
        <td th:text="${student.LastName}"></td>
        <td th:text="${student.Phonenumber}"></td>
        <td>
          <a th:href="@{'/StudentController/takeBookForm/' + ${student.id}}"
          class="btn btn-primary">
            Give book
          </a>
        </td>
        <td>
          <a th:href="@{'/StudentController/TheListOfBooksHeTook/' + ${student.id}}"
          class="btn btn-primary">
            Books
          </a>
        </td>
        <td>
          <a th:href="@{'/StudentController/delete/' + ${student.id}}"
          class="btn btn-secondary">
            Delete
          </a>
        </td>

      </tr>

    </table>
  </div>

  <div th:if="${param.success}" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">

    <div id="successToast" class="toast align-items-center text-bg-success border-0">
      <div class="d-flex">
        <div class="toast-body">
          Student successfully added
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/app.js"></script>


  <div th:if="${param.give}" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">

    <div id="giveToast" class="toast align-items-center text-bg-success border-0">
      <div class="d-flex">
        <div class="toast-body">
          You gave the book to the student
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/app.js"></script>


  <div th:if="${param.return}" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">

    <div id="returnToast" class="toast align-items-center text-bg-success border-0">
      <div class="d-flex">
        <div class="toast-body">
          You returned the student's book
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/app.js"></script>


  <div th:if="${param.delete}" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">

    <div id="deleteToastS" class="toast align-items-center text-bg-success border-0">
      <div class="d-flex">
        <div class="toast-body">
          You have deleted the student
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/app.js"></script>

  </body>
  </html>